<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Style pages -->
    <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">

    <!-- Angular Includes -->
    <script src="../node_modules/angular/angular.min.js"></script>

    <script src="ExercisesForProgrammersApp.js"></script>
    <script src="Exercise7/AreaCalculatorController.js"></script>

    <!-- Visible elements -->
    <title>Exercises for Programmers</title>
</head>
<body ng-app="ExercisesForProgrammersApp">
<div class="container">
    <h1 class="text-center">Welcome to Rob's <br>'Exercises for Programmers' <br>Solution Page</h1>
</div>
<!-- Exercise 7 -->
<div ng-controller="AreaCalculatorController as areaCalcCtrl"
     class="text-center">

    <h4>Exercise 7: Area Calculator</h4>
    <form>
        <h5>Select Units of Input:</h5>
        <div>
            <label for="ImperialOption">
                <input type="radio" name="options" id="ImperialOption" ng-model="areaCalcCtrl.InputUnitType"
                       value="Imperial" checked> Imperial Units
            </label>
            <br>
            <label for="MetricOption">
                <input type="radio" name="options" id="MetricOption" ng-model="areaCalcCtrl.InputUnitType"
                       value="Metric"> Metric Units
            </label>
        </div>
        <br>
        <label for="length">Length:
            <input type="number" id="length" ng-model="areaCalcCtrl.RoomLength">
        </label>
        <br>
        <label for="width">Width:
            <input type="number" id="width" ng-model="areaCalcCtrl.RoomWidth">
        </label>
        <p>You entered dimensions of {{areaCalcCtrl.RoomLength}} by {{areaCalcCtrl.RoomWidth}} feet.</p>
        <p>The area of the room is:
            <br>{{areaCalcCtrl.CalculateRoomArea('Imperial')}} <br><i>square feet</i>
            <br><i><b>or</b></i>
            <br>{{areaCalcCtrl.CalculateRoomArea('Metric')}} <br><i>square metres</i>
        </p>
        <p>The formula for this conversion is:
            <br>m2 = f2 x 0.09290304</p>
    </form>

</div>
</body>
</html>