<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Style pages -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Angular Includes -->
    <script src="../node_modules/angular/angular.min.js"></script>

    <script src="ExercisesForProgrammersApp.js"></script>
    <script src="ExercisesForProgrammers.TabController.js"></script>
    <script src="Exercise7/AreaCalculatorController.js"></script>
    <script src="Exercise7/Exercise7Directive.js"></script>
    <script src="Exercise8/PizzaPartyController.js"></script>
    <script src="Exercise8/Exercise8Directive.js"></script>

    <!-- Visible elements -->
    <title>Exercises for Programmers</title>
</head>
<body ng-app="ExercisesForProgrammersApp">
<div class="container">
    <h1 class="text-center">Welcome to Rob's <br>'Exercises for Programmers' <br>Solution Page</h1>
</div>
<div ng-controller="TabController as tabCtrl">
    <ul class="nav nav-tabs"
        ng-model="tabCtrl.activeTab">
        <li ng-repeat="tab in tabCtrl.tabs"
            role="presentation"
            ng-click="tabCtrl.setActiveTab(tab)"
            ng-class="{'active': tab === tabCtrl.activeTab}">
            <a href="#">Ex {{tab}}</a>
        </li>
        <!--<li role="presentation" ng-repeat="exercise in tabCtrl.exercises"-->
        <!--onclick="tabCtrl.setActiveTab($index)"-->
        <!--ng-class="{active: $index === 1"><a href="#">Ex 7</a></li>-->
        <!--<li role="presentation"><a href="#">Ex 8</a></li>-->
        <!--<li role="presentation"><a href="#">Ex 9</a></li>-->
    </ul>
    <!-- Exercise 7 -->
    <exercise7 ng-show="tabCtrl.activeTab === '7'"></exercise7>
    <exercise8 ng-show="tabCtrl.activeTab === '8'"></exercise8>

</div>
</body>
</html>